#field {
	display: block;
	position: relative;
	border: 2px solid black;
}
#ball {
	position: absolute;
	background-image: url('ball.png');
	transition-property: left, top;
	transition-duration: 50ms;
	transition-timing-function: linear;
}
#board {
	position: absolute;
	background-color: black;
	bottom: 0px;
}
